div{
    margin-top: 2%;
    z-index: -1;
    /* background-image: url("/assets/images/travelssite1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-repeat:repeat;  */
}

