<div>
    <h2>{{city.name}}</h2>
    <p *ngIf="!cityInfo">{{city.description}}</p>
    <p *ngIf="cityInfo">{{cityInfo | slice:0:1500}}</p>
</div>
<div class="toolbar" *ngIf="basicAuthentificationService.hasRole()">
    <button (click)="createHotel()" class="btn btn-outline-light">Create hotel</button>
    
</div>
<br>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div>
<div class="container mt-3">
    <div class="row">
        <div class="card-deck" >
            <div class="card" style="width: 18rem;" *ngFor=" let hotel of hotels | nameFilter:term" (click)="openThis(hotel.id,$event)">
                
                <img [src]="hotel.image" class="card-img-top" alt="..."  width="150" height="200">
                <div class="card-body">
                  <h5 class="card-title">{{hotel.name}}</h5>
                  <p class="card-text" style="color:black;">{{hotel.description}}</p>
                  <div *ngIf="basicAuthentificationService.hasRole()">
                    <button class="btn btn-primary" (click)="edit(hotel,$event)">Edit</button>&nbsp;
                    <button class="btn btn-primary" (click)="delete(hotel,$event)">Delete</button>
                   </div>
                </div>
              </div>
            
        </div>
    </div>
</div>