<div class="modal-header">
    <h4 class="modal-title" translate>Country</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #countryForm="ngForm">
        <fieldset class="form-group">
          <label >Country name</label> 
          <select class="form-control" id="countryName" #countryId="ngModel" [(ngModel)]="country.name" name="countryName" required>
            <option [ngValue]="country.name" *ngFor="let country of remoteCountries">{{country.name}}</option>
        </select>
            
           <!-- <input type="text" name="countryName" class="form-control" [(ngModel)]="country.name" required> -->
        </fieldset>

    </form>

  </div>

  <!-- <div style="width: 90%; margin-left: 5%;" *ngIf='invalidForm' class="alert alert-danger" translate>An error occured!<div translate>Please contact your system administrator!</div></div> -->

  <div class="modal-footer">
    <button type="button" [disabled] = "countryForm.invalid" (click)="saveCountry()" id="closeModal" class="btn btn-primary" translate>Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" translate>Close</button>
  </div>
  <div *ngIf="showMessage">
    <p class="alert alert-danger">Country Already exists</p>
  </div>