<div class="modal-header">
    <h4 class="modal-title" translate>Country</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #countryForm="ngForm">
        <fieldset class="form-group" *ngIf="country.id == undefined">
          <label >Country name</label> 
          <select class="form-control" id="countryName" #countryId="ngModel" [(ngModel)]="country.name" name="countryName" required>
            <option [ngValue]="country.name" *ngFor="let country of remoteCountries">{{country.name}}</option>
        </select>
        </fieldset>
        <fieldset class="form-group">
          <label>Descritpion</label>
          <textarea class="form-control" id="description" [(ngModel)]="country.description" rows="2" name="description" maxlength="200"></textarea>
        </fieldset>
    </form>
    <fieldset class="form-group" *ngIf="country.id == undefined">
      <label>Upload image</label>
      <input type="file" id="image" accept="image/*" (change)="handleFileInput($event)">
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled] = "countryForm.invalid" (click)="saveCountry()" id="closeModal" class="btn btn-primary" translate>Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" translate>Close</button>
  </div>
  <div *ngIf="showMessage">
    <p class="alert alert-danger">Country Already exists</p>
  </div>