<h2>{{hotel.name}}</h2>
<p>{{hotel.description}}</p>
<div class="toolbar" *ngIf="basicAuthentificationService.isUserLoggedIn()" >
    <button (click)="createHotelRoom()" class="btn btn-outline-light" *ngIf="basicAuthentificationService.hasRole()">Create hotel room</button>&nbsp;
    <button (click)="uploadImageToGallery()" class="btn btn-outline-light" *ngIf="basicAuthentificationService.hasRole()">Add image to Gallery</button>&nbsp;
    <button  *ngIf="basicAuthentificationService.isUserRole()" (click)="userArrangements()" class="btn btn-outline-light">My arrangements</button>
</div><br>  

<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Hotel name</th>
            <th>Room type</th>
            <th>price per day</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let hotelRoom of hotelRooms">
            <td>{{hotelRoom.id}}</td>
            <td>{{hotelRoom.hotelName}}</td>
            <td>{{hotelRoom.roomType}}</td>
            <td>{{hotelRoom.pricePerPerson}} €</td>
            <td><div *ngIf="basicAuthentificationService.isUserLoggedIn() && basicAuthentificationService.isUserRole() "><button type="button" class="btn btn-outline-light" (click)="createArrangement(hotelRoom)">Create arrangement</button></div></td>
        </tr>
    </tbody>
</table>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner" >
      <div class="carousel-item" [class.active]="selectedIndex === i" *ngFor="let image of images;let i=index">
        <img [src]="image.image" width="460" height="345" alt="First slide">
      </div>
      <a class="carousel-control-prev" (click)="setPrev()" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" (click)="setNext()" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
  </div>