<div class="toolbar">
    <button (click)="createHotelRoom()" class="btn btn-outline-toolbar">Create hotel room</button>
</div>
<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Hotel name</th>
            <th>Room type</th>
            <th>price per day</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let hotelRoom of hotelRooms">
            <td>{{hotelRoom.id}}</td>
            <td>{{hotelRoom.hotelName}}</td>
            <td>{{hotelRoom.roomType}}</td>
            <td>{{hotelRoom.pricePerPerson}} €</td>
            <td><div *ngIf="basicAuthentificationService.isUserLoggedIn()"><button type="button" class="btn btn-outline-light" (click)="createArrangement(hotelRoom)">Create arrangement</button></div></td>
        </tr>
    </tbody>
</table>