<div class="modal-header">
    <h4 class="modal-title" translate>Country</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #cityForm="ngForm">
        <fieldset class="form-group"> 
            <label >City name</label> 
           <input type="text" name="cityName" class="form-control" [(ngModel)]="city.name" required>
        </fieldset>
        <fieldset class="form-group">
            <label>Country</label>
            <select class="form-control" id="countryId" #countryId="ngModel" [(ngModel)]="city.countryId" name="countryId" required>
                <option [ngValue]="country.id" *ngFor="let country of countries">{{country.name}}</option>
            </select>
        </fieldset>
    </form>

  </div>

  <!-- <div style="width: 90%; margin-left: 5%;" *ngIf='invalidForm' class="alert alert-danger" translate>An error occured!<div translate>Please contact your system administrator!</div></div> -->

  <div class="modal-footer">
    <button type="button" [disabled] = "cityForm.invalid" (click)="saveCity()" id="closeModal" class="btn btn-primary" translate>Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" translate>Close</button>
  </div>
  <div *ngIf="showMessage">
    <p class="alert alert-danger">City Already exists</p>
  </div>
