<div class="modal-header">
    <h4 class="modal-title" translate>Hotel</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #hotelForm="ngForm">
        <fieldset class="form-group"> 
            <label >Hotel name</label> 
           <input type="text" name="hotelName" class="form-control" [(ngModel)]="hotel.name" required>
        </fieldset>
        <fieldset class="form-group" *ngIf="city.id==null">
            <label>City</label>
            <select class="form-control" id="cityId" #countryId="ngModel" [(ngModel)]="hotel.cityId" name="cityId" required>
                <option [ngValue]="city.id" *ngFor="let city of cities">{{city.name}}</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
          <label>Descritpion</label>
          <textarea class="form-control" id="description" [(ngModel)]="hotel.description" rows="2" name="description" maxlength="200"></textarea>
        </fieldset>
        <fieldset class="form-group" *ngIf="hotel.id == undefined">
          <label>Upload image</label>
          <input type="file" id="image" accept="image/*" (change)="handleFileInput($event)">
        </fieldset>
    </form>

  </div>

  <!-- <div style="width: 90%; margin-left: 5%;" *ngIf='invalidForm' class="alert alert-danger" translate>An error occured!<div translate>Please contact your system administrator!</div></div> -->

  <div class="modal-footer">
    <button type="button" [disabled] = "hotelForm.invalid" (click)="saveHotel()" id="closeModal" class="btn btn-primary" translate>Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" translate>Close</button>
  </div>
  <div *ngIf="showMessage">
    <p class="alert alert-danger">Hotel Already exists</p>
  </div>
